body {
  font-family: 'helvetica', '黑体';
}

.br-size-base {
  font-size: 1em;
}

.br-size-medium {
  font-size: 1.4em;
}

.br-section {
  position: fixed;
  left: 0;
  width: 100%;
}
.br-section-inner {
  left: 50%;
  margin-left: -480px;
  position: absolute;
  width: 960px;
}

#loading {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #231815;
}

.br-loading {
  position: absolute;
  margin-top: -90px;
  margin-left: -245px;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.br-loading .br-glass {
  border: 4px solid #FFFFFF;
  height: 160px;
  border-radius: 85px;
  width: 160px;
  overflow: hidden;
}

.br-loading .br-logo-container {
  position: relative;
  height: 180px;
  width: 490px;
  padding: 0 7em;
  top: -10px;
  z-index: -1;
}

.br-loading .br-big-logo {
  height: 180px;
  width: 490px;
}

.br-header-fixed, .br-footer-fixed {
  display: none;
  z-index: 900;
}

.br-header-fixed {
  top: 0
}

.br-footer-fixed {
  position: fixed;
  background-color: #FF3333;
  left: 0;
  right: 0;
  height: 10em;
  bottom: 0;
}

/* icon */
.br-icon {
  background-image: url("../images/site-sprit-01.png");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 0;
  vertical-align: top;
}

.br-icon-site {
  background-position: -70px -26px;
  height: 75px;
  width: 157px;
}

.br-icon-site-title {
  background-position: -108px -186px;
  height: 160px;
  width: 243px;
}

.br-icon-email {
  background-position: -334px -47px;
  height: 44px;
  width: 44px;
  top: -0.2em;
}

.br-icon-email-black {
  background-position: -445px -43px;
}

.br-icon-shop-atm {
  background-position: -439px -185px;
  height: 140px;
  width: 140px;
}

.br-icon-shop-design {
  background-position: -691px -185px;
  height: 144px;
  width: 144px;
}

.br-icon-shop-about {
  background-position: -76px -380px;
  height: 158px;
  width: 150px;
}

.br-icon-shop-flower {
  background-position: -319px -387px;
  height: 144px;
  width: 144px;
}

/* menu */
.br-menu {
  display: table;
  float: right;
  padding: 0;
  margin: 2em 2.3em 0 0;
}

.br-menu li {
  display: table-cell;
  padding: 0 1.5em;
}

.br-menu li a {
  position: relative;
}

.br-menu li p {
  margin: 0 0 0.5em 0;
}

.br-menu li p:last-child {
  margin: 0;
}

#home {
  background-color: #FFFFFF;
}

#home .br-home {
  position: fixed;
  height: 20em;
  top: 40%;
  left: 50%;
  margin-left: -10em;
  margin-top: -10em;
  width: 20em;
}

#home .br-home .br-site-title {
  position: relative;
  height: 137px;
  width: 205px;
  left: 50%;
  margin-left: -102.5px;
}

#home .br-home .br-site-title img {
  height: 137px;
  width: 205px;
}

#home .br-home .br-site-desc {
  font-size: 1.4em;
  position: relative;
  left: 50%;
  margin-left: -8.5em;
  text-align: center;
  width: 17em;
}

#home .br-home .br-home-menu {
  position: relative;
  color: #DB2852;
  font-size: 0.8em;
}

#home .br-home .br-home-menu a {
  padding: 0 0.5em;
}

#shop {
  background-color: #FF3333;
  color: #FFFFFF;
  height: 100%;
  overflow: hidden;
}

#shop p {
  letter-spacing: 0.2em;
  margin: 0;
}

#shop .br-icon {
  position: static;
}

#shop .br-section-inner {
  margin-left: -200px;
  top: 20%;
  width: 400px;
}

#shop .br-shop-link {
  display: inline-block;
}

#design .br-design-head {
  color: #FF3333;
  font-size: 1.4em;
  margin-top: 10em;
  margin-bottom: 5em;
}

#design .br-head-text-cn {
  letter-spacing: 0.7em;
  padding-left: 0.7em;
}

#design .br-head-text-en {
  letter-spacing: 0.1em;
  padding-left: 0.1em;
}

#design .br-design-content {
  background-color: #C9CACA;
  min-height: 10em;
  padding: 2%;
  position: relative;
}

#design .br-design-content-inner {
  min-height: 400px;
  overflow: hidden;
}

#design .br-design-scroll-images img {
  width: 100%;
}

#contact-footer {
  bottom: 0;
  color: #FFFFFF;
  background-color: #FF3333;
  height: 200px;
}