body {
  font-family: 'helvetica', '黑体';
}

a {
  text-decoration: none;
}

.br-size-base {
  font-size: 1em;
}

.br-size-medium {
  font-size: 1.4em;
}

.br-section {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
}
.br-section-inner {
  left: 50%;
  margin-left: -480px;
  position: absolute;
  width: 960px;
  top: 15em;
}

#loading {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #231815;
}

.br-loading {
  position: absolute;
  margin-top: -90px;
  margin-left: -245px;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.br-loading .br-glass {
  border: 4px solid #FFFFFF;
  height: 160px;
  border-radius: 85px;
  width: 160px;
  overflow: hidden;
}

.br-loading .br-logo-container {
  position: relative;
  height: 180px;
  width: 490px;
  padding: 0 7em;
  top: -10px;
  z-index: -1;
}

.br-loading .br-big-logo {
  height: 180px;
  width: 490px;
}

.br-header-fixed, .br-footer-fixed {
  display: none;
  z-index: 900;
}

.br-header-fixed {
  top: 0
}

.br-footer-fixed {
  position: fixed;
  background-color: #FF3333;
  left: 0;
  right: 0;
  height: 10em;
  bottom: 0;
}

/* icon */
.br-icon {
  background-image: url("../images/site-spriting.png");
  background-repeat: no-repeat;
  background-size: 1153px 623px;
  display: inline-block;
  position: absolute;
  left: 0;
  vertical-align: top;
}

.br-icon-site, .br-icon-site-secondary {
  height: 67px;
  width: 150px;
}

.br-icon-site {
  background-position: -66px -65px;
}

.br-icon-site-secondary {
  background-position: -316px -150px;
}

.br-icon-site-title {
  background-position: -66px -160px;
  width: 234px;
  height: 150px;
}

.br-icon-email, .br-icon-email-secondary {
  height: 42px;
  width: 42px;
}

.br-icon-email {
  background-position: -611px -73px;
}

.br-icon-email-secondary {
  background-position: -535px -73px
}

.br-icon-shop-sale {
  background-position: -707px -67px;
  height: 146px;
  width: 146px;
}

.br-icon-shop-design {
  background-position: -949px -67px;
  height: 146px;
  width: 146px;
}

.br-icon-shop-about {
  background-position: -702px -235px;
  height: 155px;
  width: 146px;
}

.br-icon-shop-flower {
  background-position: -945px -233px;
  height: 155px;
  width: 150px;
}

.br-icon-sale-title {
  background-position: -497px -162px;
  height: 247px;
  width: 144px;
}

/* menu */
.br-menu {
  display: table;
  float: right;
  padding: 0;
  margin-top: 2.8em;
}

.br-menu li {
  display: table-cell;
  padding: 0 1.5em;
  vertical-align: bottom;
}

.br-menu li:first-child {
  padding-left: 0;
}

.br-menu li:last-child {
  padding-right: 0;
}

.br-menu li a {
  color: #000000;
  position: relative;
}

.br-menu .br-text-cn {
  letter-spacing: 0.5em;
  font-size: 1.2em;
  padding-left: 0.5em;
}

.br-menu li p {
  margin: 0 0 0.5em 0;
}

.br-menu li p:last-child {
  margin: 0;
}

.br-menu .br-popover-action {
  display: block;
  width: 44px;
  height: 44px;
}

/* popover */
.br-popover {
  background-color: #E83838;
  border-radius: 4px;
  display: none;
  color: #FFFFFF;
  padding: 1em;
  position: fixed;
  z-index: 900;
}

.br-popover .br-popover-close {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  padding: 0.2em 0.2em 0.5em;
  right: 0;
  top: 0;
}

.br-popover a {
  color: #FFFFFF;
  text-decoration: none;
}

.br-triangle {
  border: 10px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -10px;
}

.br-triangle-up {
  border-bottom-color: #E83838;
  top: -20px;
}

#scene {
  height: 20000px;
}

#home {
  background-color: #FFFFFF;
}
#home .br-home {
  height: 20em;
  left: 50%;
  margin-left: -10em;
  width: 20em;
}
#home .br-home .br-site-title {
  position: relative;
  height: 150px;
  width: 234px;
  left: 50%;
  margin-left: -117px;
}
#home .br-home .br-home-menu {
  position: relative;
  color: #DB2852;
  letter-spacing: 0.1em;
  left: 0;
}
#home .br-home .br-home-menu span {
  padding: 0 0.5em;
}
#home .br-home-video.br-section-inner {
  position: absolute;
  left: 0;
  top: 0;

}

#home-head .br-section-inner, #home-head-secondary .br-section-inner {
  top: 0;
}

/* header */
#home-head-secondary {
  opacity: 0;
}

#home-head-secondary .br-menu li a {
  color: #FFFFFF;
}

/* shop */
#shop {
  background-color: #FF3333;
  color: #FFFFFF;
  height: 100%;
  overflow: hidden;
}
#shop p {
  margin: 0.5em;
}
#shop.br-section {
  z-index: 110;
}
#shop .br-shop-text-cn-1, #shop .br-shop-text-cn-2 {
  font-size: 1.2em;
}
#shop .br-shop-text-cn-1 {
  letter-spacing: 0.3em;
  padding-left: 0.3em;
}
#shop .br-shop-text-cn-2 {
  letter-spacing: 1.8em;
  padding-left: 1.8em;
}
#shop .br-shop-text-en {
  letter-spacing: 0.1em;
  padding-left: 0.1em;
}
#shop .br-icon {
  position: static;
}
#shop .br-section-inner {
  margin-left: -250px;
  width: 500px;
}
#shop .br-shop-link {
  display: block;
}

#shop.br-section {
  z-index: 120;
}

/* sale */
#sale.br-section {
  z-index: 110;
}
#sale .br-sale-head {
  font-size: 1.4em;
  margin-bottom: 5em;
  height: 246px;
  width: 144px;
  position: relative;
  left: 50%;
  margin-left: -72px;
}
#sale .br-head-text-cn {
  letter-spacing: 0.7em;
  padding-left: 0.7em;
}
#sale .br-head-text-en {
  letter-spacing: 0.1em;
  padding-left: 0.1em;
}
#sale .br-sale-content {
  background-color: #FFFFFF;
  min-height: 10em;
  position: relative;
  top: 7em;
}
#sale .br-sale-content-inner {
  min-height: 400px;
  overflow: hidden;
}
#sale .br-sale-scroll-images img {
  width: 100%;
}
#sale .br-sale-scroll-images > .tm-row {
  margin-bottom: 5em;
}
#sale .br-item-image-block {
  cursor: pointer;
  position: relative;
}
#sale .br-item-image-block .br-image-cover {
  background-color: #FF3230;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* items */
.br-items .br-section-inner {
  z-index: 110;
}
.br-item img {
  width: 400px;
  height: 400px;
}
.br-item .br-item-close {
  cursor: pointer;
  position: absolute;
  padding: 0.5em;
  font-size: 1.2em;
  top: 0;
  right: 0;
}
.br-item .br-item-close:hover {
  color: #FF3333;
}
#contact-footer {
  bottom: 0;
  color: #FFFFFF;
  background-color: #FF3333;
  height: 200px;
}