body {
  color: #FFFFFF;
  font-family: 'ITC Officina Sans Std', 'arial', '黑体';
  letter-spacing: 0.03em;
}

header {
  font-size: 1.2em;
}

footer a, footer a:visited, footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

nav {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2.85em;
}

.lhd *::-moz-selection {
  background-color: #E81206;
}

.lhd *::selection {
  background-color: #E81206;
}

.lhd a {
  color: #FFFFFF;
  text-decoration: none;
}

.lhd .background-primary {
  background-color: #E93D1B;
}

.lhd .background-stress {
  background-color: #E81206;
}

.lhd .nav-menu-item:hover, .lhd .nav-menu-item.background-stress {
  background-color: #E81206;
  border-bottom: 1px solid #FFFFFF;
}

.lhd .float-text-list span {
  font-size: 3em;
  position: fixed;
  z-index: 100;
}

.lhd .float-text-list .brand-text1 {
  top: 50%;
  left: 20%;
}

.lhd .float-text-list .brand-text2 {
  top: 20%;
  left: 40%;
}

.lhd .float-text-list .brand-text3 {
  top: 30%;
  left: 48%;
}

.lhd .float-text-list .brand-text4 {
  top: 70%;
  left: 48%;
}

.lhd .float-text-list .brand-text5 {
  top: 60%;
  left: 55%;
}

.lhd .float-text-list .brand-text6 {
  top: 30%;
  right: 38%;
}

.lhd .float-text-list .brand-text7 {
  top: 32%;
  right: 30%;
}

.lhd .float-text-list .brand-text8 {
  top: 16%;
  right: 10%;
}

.lhd .float-text-list2 {
  font-size: 3em;
}

.lhd .float-text-list2 span {
  position: fixed;
  z-index: 100;
}

.lhd .float-text-list2 .page-text1 {
  top: 3.2em;
  left: 15em;
}

.lhd .float-text-list2 .page-text2 {
  top: 10em;
  right: 5em;
}

.lhd .float-text-list2 .page-text3 {
  top: 20em;
  left: 10em;
}

.lhd .float-text-list2 .page-text4 {
  top: 25em;
  right: 0;
}

.lhd .main-content {
  margin: 12em auto;
  position: relative;
}

.lhd .header-fixed, .lhd .footer-fixed, .lhd .menu-fixed {
  position: fixed;
  z-index: 900;
}

.lhd .header-fixed, .lhd .footer-fixed {
  left: 0;
  right: 0;
  width: 100%;
}

.lhd .header-fixed {
  background-color: #E93D1B;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  top: 0;
}

.lhd .menu-item {
  font-weight: bold;
  cursor: pointer;
}

.lhd footer ul {
  list-style-type: none;
}

.lhd footer ul li {
  line-height: 1.6;
}

.lhd footer label {
  font-weight: bold;
  margin-right: 0.5em;
}

.lhd .footer-fixed {
  bottom: -9em;
  margin-bottom: 0;
  padding-top: 1em;
}

.lhd .footer-fixed .footer-content {
  padding-top: 1em;
  padding-bottom: 2.5em;
}

.lhd .loading {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -150px;
}

.lhd .loading .image {
  display: block;
  height: 240px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  width: 300px;
}

.lhd .loading img {
  height: 240px;
}

.lhd .loading .text {
  font-size: 1.2em;
}

.lhd .loading .text a {
  padding: 0.2em 0.5em;
}

.lhd .loading .text a:hover {
  text-decoration: underline;
}

.lhd .loading .image .text {
  position: absolute;
  bottom: 0;
  z-index: 101;
}

.lhd .page-loading {
  font-size: 3em;
  font-weight: bold;
  display: none;
  padding: 0.5em;
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 299;
}

.lhd .design-list h3 {
  margin-top: 0;
}

.lhd .design-list .content {
  position: relative;
}

.lhd .design-list .content.content-detail {
  background-color: #E81206;
  display: none;
}

.lhd .design-list .close-btn {
  cursor: pointer;
  font-size: 1.8em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 799;
}

.lhd .design-list .close-btn.close-btn-in {
  font-size: 3em;
}

.lhd .design-list .item {
  clear: both;
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  line-height: 1.6;
  max-width: 500px;
  max-height: 677px;
}

.lhd .design-list .item:last-child {
  margin-bottom: 0;
}

.lhd .design-list .item .image {
  overflow: hidden;
  position: relative;
}

.lhd .design-list .item .desc {
  margin-top: 0.5em;
}

.lhd .design-list .item .desc p {
  margin: 0;
}

.lhd .design-list .item .desc p:first-child {
  font-weight: bold;
}

.lhd .design-list .item .detail {
  font-size: 10px;
}

.lhd .design-list .item .detail p {
  padding: 0.35em 0;
}

.lhd .design-list .item .image-panel {
  font-size: 0;
}

.lhd .design-list .item .image-panel img {
  display: none;
}

.lhd .design-list .item .image-panel img:first-child {
  display: inline;
}

.lhd .design-list .item .image-float .image-panel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

.lhd .profile .item img {
  width: 160px;
}