body {
  color: #FFFFFF;
  font-family: 'ITC Officina Sans Std', 'arial', '黑体';
  letter-spacing: 0.03em;
}

header {
  font-size: 1.2em;
}

footer a, footer a:visited, footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

nav {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2.85em;
}

.lhd *::-moz-selection {
  background-color: #E81206;
}

.lhd *::selection {
  background-color: #E81206;
}

.lhd a {
  color: #FFFFFF;
  text-decoration: none;
}

.lhd .background-primary {
  background-color: #E93D1B;
}

.lhd .background-stress {
  background-color: #E81206;
}

.lhd .invisible {
  visibility: hidden;
}

.lhd .nav-menu-item:hover, .lhd .nav-menu-item.background-stress {
  background-color: #E81206;
  border-bottom: 1px solid #FFFFFF;
}

.lhd .float-text-list span {
  font-size: 3em;
  position: fixed;
  z-index: 100;
}

.lhd .float-text-list .brand-text1 {
  top: 50%;
  left: 20%;
}

.lhd .float-text-list .brand-text2 {
  top: 20%;
  left: 40%;
}

.lhd .float-text-list .brand-text3 {
  top: 30%;
  left: 48%;
}

.lhd .float-text-list .brand-text4 {
  top: 70%;
  left: 48%;
}

.lhd .float-text-list .brand-text5 {
  top: 60%;
  left: 55%;
}

.lhd .float-text-list .brand-text6 {
  top: 30%;
  right: 38%;
}

.lhd .float-text-list .brand-text7 {
  top: 32%;
  right: 30%;
}

.lhd .float-text-list .brand-text8 {
  top: 16%;
  right: 10%;
}

.lhd .float-text-list2 {
  font-size: 3em;
  line-height: 1;
}

.lhd .float-text-list2 span {
  position: absolute;
  z-index: 100;
}

.lhd .float-text-list2 .page-text1 {
  top: 0;
  left: 10em;
}

.lhd .float-text-list2 .page-text2 {
  top: 7em;
  right: 5em;
}

.lhd .float-text-list2 .page-text3 {
  top: 15em;
  left: 1em;
}

.lhd .float-text-list2 .page-text4 {
  top: 20em;
  right: 0;
}

.lhd .main-content {
  margin: 12em auto;
  position: relative;
}

.lhd .header-fixed, .lhd .footer-fixed, .lhd .menu-fixed {
  position: fixed;
  z-index: 900;
}

.lhd .header-fixed, .lhd .footer-fixed {
  left: 0;
  right: 0;
  width: 100%;
}

.lhd .header-fixed {
  background-color: #E93D1B;
  padding-top: 2.5em;
  padding-bottom: 3.4em;
  top: 0;
}

.lhd .menu-item {
  font-weight: bold;
  cursor: pointer;
}

.lhd footer ul {
  list-style-type: none;
}

.lhd footer ul li {
  line-height: 1.6;
}

.lhd footer *::-moz-selection {
  background-color: #EF5801;
}

.lhd footer *::selection {
  background-color: #EF5801;
}

.lhd footer label {
  font-weight: bold;
  margin-right: 0.5em;
}

.lhd .footer-fixed {
  bottom: -4.3em;
  margin-bottom: 0;
  padding-top: 1em;
}

.lhd .footer-fixed p {
  margin: 0.5em 0;
}

.lhd .footer-fixed .footer-content {
  padding: 1.2em 0 1em;
}

.lhd .footer-fixed .footer-prompt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.3em;
}

.lhd .loading {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -150px;
}

.lhd .loading .image {
  display: block;
  height: 240px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  width: 300px;
}

.lhd .loading img {
  height: 240px;
}

.lhd .loading .text {
  font-size: 1.2em;
}

.lhd .loading .text a {
  display: inline-block;
  text-align: center;
  width: 2.5em;
}

.lhd .loading .text a:hover {
  text-decoration: underline;
}

.lhd .loading .image .text {
  position: absolute;
  bottom: 0;
  z-index: 101;
  padding: 0.1em 0.5em;
}

.lhd .page-loading {
  display: none;
  margin-top: -0.85em;
  padding: 0.5em;
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 299;
}

.lhd .design-list h3 {
  margin-top: 0;
}

.lhd .design-list .content {
  position: relative;
}
.lhd .design-list .content.content-detail {
  background-color: #E81206;
  display: none;
  margin-bottom: 2em;
}
.lhd .design-list .content.content-detail *::-moz-selection {
  background-color: #EF5801;
}
.lhd .design-list .content.content-detail *::selection {
  background-color: #EF5801;
}
.lhd .design-list .content.content-detail .images {
  font-size: 0px;
}
.lhd .design-list .content.content-detail .images p {
  font-size: 12px;
}
.lhd .design-list .content.content-detail .images img {
  width: 100%;
}
.lhd .design-list .content.content-detail .images .tm-row-col6,
.lhd .design-list .content.content-detail .images .tm-row-col4 {
  margin-right: 0;
}
.lhd .design-list .content.content-detail .images .tm-row-col6 {
  width: 50%;
}
.lhd .design-list .content.content-detail .images .tm-row-col4 {
  width: 33.3%;
}
.lhd .design-list .close-btn {
  background-color: #E81206;
  background-image: url('../images/close-btn-1.png');
  background-size: 15px 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 799;
  width: 15px;
  height: 15px;
}

.lhd .design-list .close-btn-status-1 {
  background-image: url('../images/close-btn-2.png');
}

.lhd .design-list .close-btn-status-2 {
  background-image: url('../images/close-btn-3.png');
}

.lhd .design-list .item {
  clear: both;
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  line-height: 1.6;
}

.lhd .design-list .item:last-child {
  margin-bottom: 0;
}
.lhd .design-list .item .image {
  cursor: pointer;
  max-width: 500px;
  max-height: 677px;
  overflow: hidden;
  position: relative;
}
.lhd .design-list .desc {
  margin-top: 0.5em;
}
.lhd .design-list .desc a {
  font-style: italic;
  text-decoration: underline;
}
.lhd .design-list .desc p {
  margin: 0;
}
.lhd .design-list .desc p:first-child {
  font-weight: bold;
}
.lhd .design-list .detail {
  font-size: 10px;
}
.lhd .design-list .detail p {
  padding: 0.35em 0;
}
.lhd .design-list .detail table {
  border-spacing: 0;
}
.lhd .design-list .image-panel {
  font-size: 0;
  clear: both;
}
.lhd .design-list .image-panel img {
  display: none;
  float: left;
}
.lhd .design-list .image-panel img:first-child {
  display: block;
}
.lhd .design-list .image-float .image-panel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}