body {
  background-color: #A4A9AD;
  color: #C8CBCE;
  font-family: 'avenir','arial','黑体';
}

a {
  color: #CCD3E9;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
}

input {
  border: 1px solid #21283A;
  color: #CCD3E9;
  padding: 5px 10px;
}

input::-moz-placeholder {
  color: #848EA0;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: #848EA0;
  font-style: italic;
}

input::-webkit-input-placeholder {
  color: #848EA0;
  font-style: italic;
}

.g-button {
  background-color: #000000;
  cursor: pointer;
  font-size: 14px;
}

.tm-container {
  max-width: 3000px;
  min-width: 0;
  padding: 0;
  position: relative;
}

/* base */
.g-border {
  border: 1px solid #FFFFFF;
}

.g-color-highlight {
  color: #FFFFFF;
}

.g-full-block {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
}

.g-margin-none {
  margin: 0 !important;
}

.g-padding-none {
  padding: 0 !important;
}

.g-middle {
  bottom: auto !important;
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* image background */
.g-background {
  background: top center no-repeat;
  background-size: cover;
  text-align: center;
}

.g-background-secondary {
  opacity: 0;
  z-index: 10;
}

.g-background-mobile.g-background-primary {
  background-image: url("../images/mobile-bk-gray.jpg");
}

.g-background-mobile.g-background-secondary {
  background-image: url("../images/mobile-bk-color.jpg");
}

.g-background-function.g-background-primary {
  background-image: url("../images/function-bk-gray.jpg");
}

.g-background-function.g-background-secondary {
  background-image: url("../images/function-bk-color.jpg");
}

.g-background-changyou.g-background-primary {
  background-image: url("../images/changyou-bk-gray.jpg");
}

.g-background-changyou.g-background-secondary {
  background-image: url("../images/changyou-bk-color.jpg");
}

/* language */
.g-lang-cn .g-show-en,
.g-lang-en .g-show-cn {
  display: none;
}

.g-lang-cn .g-highlight-cn,
.g-lang-en .g-highlight-en {
  color: #FFFFFF;
}

/* header */
.g-header {
  height: 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  width: 980px;
  z-index: 1000;
}

.g-site-links {
  float: right;
  list-style-type: none;
  margin-right: 40px;
}

.g-site-links li {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

.g-site-links li.g-divider {
  border-left: 1px solid #FFFFFF;
  height: 38px;
}

/* loading */
.g-page-loading {
  background: url('../images/page-loading.gif') no-repeat;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  z-index: 110;
}

/* section */
.g-section {
  display: block;
  overflow: hidden;
  position: relative;
}

/* icon */
.g-icon {
  display: block;
  opacity: 0.8;
  position: absolute;
}

.g-icon {
  background: url("../images/page-icons.png") no-repeat;
  background-size: 620px 238px;
}

.g-icon:hover {
  opacity: 1;
}

.g-icon-site-logo {
  background-size: 465px 178px;
  background-position: -322px -85px;
  height: 30px;
  width: 92px;
  left: 20px;
  top: 4px;
}

.g-icon-url-code {
  background-size: 403px 155px;
  background-position: -317px -19px;
  width: 40px;
  height: 40px;
  opacity: 1;
  right: 0;
}

.g-icon-rewards {
  background-position: -20px -28px;
  height: 68px;
  width: 452px;
  right: 0;
}

.g-icon-google-play, .g-icon-apple-store {
  background-size: 310px 119px;
  display: inline-block;
  height: 24px;
  position: static;
}

.g-icon-google-play {
  background-position: -121px -83px;
  width: 66px;
}

.g-icon-apple-store {
  background-position: -200px -83px;
  width: 78px;
}

.g-icon-cart {
  background-position: -573px -168px;
}

.g-icon-home,
.g-icon-cart {
  border: none;
  left: -3px;
  height: 15px;
  width: 15px;
}

.g-icon-home {
  background-position: -572px -30px;
}

/* home products */
.g-home-product {
  background: url("../images/home-products.png") no-repeat;
  background-size: 1117px 329px;
  left: 50%;
  top: 38%;
  margin-top: 210px;
  position: absolute;
  z-index: 30;
}

.g-home-product-text {
  background-position: -120px -175px;
  width: 880px;
  height: 155px;
  position: static;
  margin: 0 auto;
}

/* ChangYou products */
.g-changyou-product-group {
  padding: 0 20px;
  text-align: justify;
}

.g-changyou-product-group:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.g-changyou-product {
  background: url("../images/changyou-products.png") no-repeat;
  background-size: 970px 225px;
  display: inline-block;
  height: 225px;
  list-style-type: none;
  opacity: 0.5;
}

.g-changyou-product:hover {
  -o-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.g-changyou-product:last-child {
  margin-right: 0;
}

.g-changyou-product-1 {
  background-position: -3px 0;
  width: 100px;
}

.g-changyou-product-2 {
  background-position: -163px 0;
  width: 150px;
}

.g-changyou-product-3 {
  background-position: -385px 0;
  width: 182px;
}

.g-changyou-product-4 {
  background-position: -652px 0;
  width: 108px;
}

.g-changyou-product-5 {
  background-position: -842px 0;
  width: 103px;
}

/* triangle */
.g-triangle {
  width: 0;
  height: 0;
  position: absolute;
}

/* popover */
.g-popover {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  display: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 30px 30px 30px;
  position: absolute;
  z-index: 900;
}

.g-popover a,
.g-popover a:hover {
  color: #000000;
}

.g-popover-inner {
  overflow: auto;
}

.g-popover-info {
  top: 60px;
  width: 980px;
}

.g-popover-info h2 {
  text-align: center;
}

.g-popover-info p {
  line-height: 1.7;
  margin: 0;
  text-align: justify;
}

.g-popover .g-triangle {
  border: 10px solid transparent;
}

.g-popover .g-triangle-bottom {
  border-top-color: #FFFFFF;
  bottom: -20px;
  margin-left: -10px;
}

.g-popover .g-triangle-top {
  border-bottom-color: #FFFFFF;
  margin-left: -10px;
  top: -20px;
}

.g-popover-close {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* carousel */
.g-carousel,
.g-carousel-items,
.g-carousel-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.g-carousel {
  z-index: 20;
}

.g-carousel-items {
  -webkit-transition: -webkit-transform 0.8s ease-out;
  -moz-transition: -moz-transform 0.8s ease-out;
  -ms-transition: -ms-transform 0.8s ease-out;
  -o-transition: -o-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
}

.g-carousel-items-terminate {
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  -ms-transition: -ms-transform 0s;
  -o-transition: -o-transform 0s;
  transition: transform 0s;
}

.g-carousel-item {
  background: top center no-repeat;
  background-size: cover;
  float: left;
}

.g-carousel-item .g-background-secondary {
  z-index: 25;
}

.g-carousel-control {
  bottom: 0;
  color: #FFFFFF;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
}

.g-carousel-control-inner {
  margin: 0 auto;
  padding: 0 10px 20px;
  text-align: center;
}

.g-carousel-control-item {
  border-radius: 10px;
  cursor: pointer;
  height: 10px;
  width: 10px;
}

.g-carousel-control-active {
  cursor: auto;
}

.g-carousel-control-item {
  background-color: #CCD3E9;
  display: inline-block;
  margin: 0 5px;
}

.g-carousel-control-active,
.g-carousel-control-item:hover {
  background-color: #21FF01;
}

.g-carousel-home img.g-product-image {
  width: 1024px;
  height: 740px;
}

.g-carousel-activity img.g-product-image {
  position: absolute;
  width: 700px;
  z-index: 30;
}

.g-carousel-mobile img.g-product-image {
  left: 3px;
  height: 387px;
}

/* menu */
.g-section-menu {
  position: fixed;
  top: 50%;
  right: 20px;
  padding: 10px;
  margin-top: -80px;
  z-index: 1000;
}

.g-section-menu-item {
  display: block;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}

.g-section-menu-item-icon {
  border: 1px solid #CCD3E9;
  border-radius: 8px;
  height: 8px;
  width: 8px;
}

.g-section-menu-item-active {
  cursor: auto;
}

.g-section-menu-item-active,
.g-section-menu-item:hover {
  border-color: #FFFFFF;
  opacity: 1;
}

.g-menu-item-popover {
  border: 1px solid #FFFFFF;
  display: none;
  margin-top: -8px;
  right: 22px;
  padding: 5px 10px;
  position: absolute;
  white-space: nowrap;
  z-index: 100;
}

.g-menu-item-popover .g-triangle {
  border: 7px solid transparent;
}

.g-menu-item-popover .g-triangle-right {
  border-left-color: #FFFFFF;
  right: -14px;
  top: 50%;
  margin-top: -7px;
}

.g-section-menu-item:hover > .g-menu-item-popover {
  display: block;
}

/* content */
.g-section .g-section-subject {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.g-section .g-section-content {
  margin: 20px auto 0 auto;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  top: 40px;
  width: 980px;
  z-index: 30;
}

.g-section .g-subject-text-cn {
  font-size: 26px;
  margin: 0;
}

.g-section .g-subject-text-en {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

.g-section .g-section-subject .g-buy {
  background-color: #000000;
  padding: 5px 10px;
}

.g-section .g-section-subject .g-buy-cart {
  margin-right: 2px;
  padding-right: 15px;
  position: relative;
}

.g-section .g-section-subject .g-buy-cart .g-icon-cart {
  left: 5px;
  top: 5px;
}

/* expander */
.g-expander {
  border-bottom: 1px solid #C7BEB1;
  margin-bottom: 5px;
  position: relative;
}
.g-expander:last-child {
  margin-bottom: 0;
}
.g-expander .g-expander-header {
  background-color: #C7BEB1;
  cursor: pointer;
  padding: 5px 15px;
}
.g-expander .g-expander-title {
  font-size: 1.2em;
}
.g-expander .g-expander-content {
  padding: 10px;
}
.g-expander .g-expander-btn {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
}
.g-expander-collapsed .g-expander-btn {
   padding: 2px 10px;
 }
.g-expander-collapsed .g-expander-content {
  display: none;
}
.g-expander-expanded .g-expander-btn {
  padding: 0px 10px;
}
.g-expander-expanded .g-expander-content {
  display: block;
}

/* footer */
.g-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 60;
}

.g-footer-inner {
  margin: 0 auto;
  position: relative;
  width: 980px;
}

.g-footer .g-subscribe {
  padding: 10px;
}

.g-footer .g-subscribe .g-field-email {
  background-color: #1A212B;
  width: 250px;
}

.g-footer .g-footer-menu li {
  display: inline;
  padding: 0 10px;
}

.g-footer .g-download-icon-group {
  position: absolute;
  right: 0;
  top: -5px;
}

/* time clock */
.g-clock {
  background: url("../images/time-clock.png") no-repeat;
  background-size: 620px 325px;
  position: absolute;
}
.g-clock-shell {
  background-position: 0px 0px;
  width: 325px;
  height: 325px;
  margin-top: -60px;
}
.g-clock-content {
  position: absolute;
  white-space: nowrap;
}
.g-clock-time-desc h2 {
  font-size: 32px;
}
.g-clock-time-desc p {
  font-size: 20px;
}
.g-clock-time-desc p:last-child {
  font-size: 16px;
  font-style: italic;
}
.g-clock-content-1, .g-clock-content-4 {
  right: 229px;
  top: 290px;
}
.g-clock-content-1 .g-clock-time,
.g-clock-content-4 .g-clock-time{
  background-position: -340px -77px;
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
}
.g-clock-content-1 .g-clock-time-desc,
.g-clock-content-4 .g-clock-time-desc{
  margin-right: 25px;
  margin-top: 30px;
}
.g-clock-content-2 {
  top: 130px;
  right: 310px;
}
.g-clock-content-2 .g-clock-time,
.g-clock-content-5 .g-clock-time {
  background-position: -410px -77px;
  width: 32px;
  height: 22px;
  right: 0;
  top: 20px;
}
.g-clock-content-2 .g-clock-time-desc,
.g-clock-content-5 .g-clock-time-desc {
  margin-right: 35px;
}
.g-clock-content-3 {
  top: 142px;
  left: 310px;
}
.g-clock-content-3 .g-clock-time {
  background-position: -480px -77px;
  width: 40px;
  height: 20px;
  top: 10px;
}
.g-clock-content-3 .g-clock-time-desc {
  margin-left: 45px;
}
.g-clock-content-5 {
  top: 55px;
  right: 290px;
}

/* mobile phone */
.g-mobile-phone {
  height: 432px;
  width: 207px;
  position: relative;
}
.g-mobile-phone-1 {
  float: left;
  margin-left: 200px;
}
.g-mobile-phone-2 {
  float: right;
  margin-right: 200px;
}
.g-mobile-phone-inner {
  height: 312px;
  width: 177px;
  left: 16px;
  top: 61px;
  position: relative;
}
.g-mobile-phone-shell {
  background-image: url('../images/mobile-iphone.png');
  position: absolute;
  top: 0;
  z-index: 30;
}

#home.g-section .g-section-subject {
  top: 38%;
}

#home.g-section .g-section-subject .g-section-desc {
  margin-top: 90px;
}

#home.g-section .g-subject-text-en {
  font-size: 80px;
}

#activityCompanion.g-section .g-section-subject {
  bottom: 120px;
}

#changeWithYou.g-section .g-section-content {
  margin-top: -40px;
}

#mobileApps.g-section .g-section-subject,
#functionFeatures.g-section .g-section-subject,
#changeWithYou.g-section .g-section-subject {
  position: static;
}

@media screen and (min-height: 1200px) {
  .g-carousel-activity img.g-product-image {
    width: 1024px;
  }
}