body {
  background-color: #A4A9AD;
  color: #BEBEBE;
  font-family: 'avenir','arial','黑体';
}

a {
  color: #BEBEBE;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
}

input {
  border: 1px solid #21283A;
  color: #BEBEBE;
  padding: 5px 10px;
}

input::-moz-placeholder {
  color: #848EA0;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: #848EA0;
  font-style: italic;
}

input::-webkit-input-placeholder {
  color: #848EA0;
  font-style: italic;
}

.g-button {
  background-color: #000000;
  cursor: pointer;
  font-size: 14px;
}

.tm-container {
  max-width: 3000px;
  min-width: 0;
  padding: 0;
  position: relative;
}

/* base */
.g-border {
  border: 1px solid #FFFFFF;
}

.g-cursor-pointer {
  cursor: pointer;
}

.g-color-highlight {
  color: #FFFFFF;
}

.g-full-block {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
}

.g-margin-none {
  margin: 0 !important;
}

.g-padding-none {
  padding: 0 !important;
}

.g-middle {
  bottom: auto !important;
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* image background */
.g-background {
  background: top center no-repeat;
  background-size: cover;
  text-align: center;
}

.g-background-secondary {
  opacity: 0;
  z-index: 10;
}

.g-background-home-p-1 {
  background-image: url("../images/home-carousel-bp-1.jpg");
}
.g-background-home-s-1 {
  background-image: url("../images/home-carousel-bs-1.jpg");
}
.g-background-home-p-2 {
  background-image: url("../images/home-carousel-bp-2.jpg");
}
.g-background-home-s-2 {
  background-image: url("../images/home-carousel-bs-2.jpg");
}
.g-background-home-p-3 {
  background-image: url("../images/home-carousel-bp-3.jpg");
}
.g-background-home-s-3 {
  background-image: url("../images/home-carousel-bs-3.jpg");
}
.g-background-home-p-4 {
  background-image: url("../images/home-carousel-bp-4.jpg");
}
.g-background-home-s-4 {
  background-image: url("../images/home-carousel-bs-4.jpg");
}
.g-background-home-p-5 {
  background-image: url("../images/home-carousel-bp-5.jpg");
}
.g-background-home-s-5 {
  background-image: url("../images/home-carousel-bs-5.jpg");
}

.g-background-activity-p-1 {
  background-image: url("../images/activity-carousel-bp-1.jpg");
}
.g-background-activity-s-1 {
  background-image: url("../images/activity-carousel-bs-1.jpg");
}
.g-background-activity-p-2 {
  background-image: url("../images/activity-carousel-bp-2.jpg");
}
.g-background-activity-s-2 {
  background-image: url("../images/activity-carousel-bs-2.jpg");
}
.g-background-activity-p-3 {
  background-image: url("../images/activity-carousel-bp-3.jpg");
}
.g-background-activity-s-3 {
  background-image: url("../images/activity-carousel-bs-3.jpg");
}

.g-background-mobile.g-background-primary {
  background-image: url("../images/mobile-bk-gray.jpg");
}
.g-background-mobile.g-background-secondary {
  background-image: url("../images/mobile-bk-color.jpg");
}

.g-background-function.g-background-primary {
  background-image: url("../images/function-bk-gray.jpg");
}
.g-background-function.g-background-secondary {
  background-image: url("../images/function-bk-color.jpg");
}

.g-background-changyou.g-background-primary {
  background-image: url("../images/changyou-bk-gray.jpg");
}

.g-background-changyou.g-background-secondary {
  background-image: url("../images/changyou-bk-color.jpg");
}

/* language */
.g-lang-cn .g-show-en,
.g-lang-en .g-show-cn {
  display: none;
}

.g-lang-cn .g-highlight-cn,
.g-lang-en .g-highlight-en {
  color: #FFFFFF;
}

/* header */
.g-header {
  height: 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  width: 980px;
  z-index: 1000;
}

.g-site-links {
  float: right;
  list-style-type: none;
  margin-right: 40px;
}

.g-site-links li {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

.g-site-links li.g-divider {
  border-left: 1px solid #FFFFFF;
  height: 38px;
}

/* loading */
.g-page-loading-cover {
  background-color: #A4A9AD;
  z-index: 110;
}
.g-page-loading {
  background: url('../images/page-loading.gif') no-repeat;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
}

/* section */
.g-section {
  display: block;
  overflow: hidden;
  position: relative;
}

/* icon */
.g-icon {
  display: block;
  opacity: 0.8;
  position: absolute;
}

.g-icon {
  background: url("../images/page-icons.png") no-repeat;
  background-size: 880px 678px;
}

.g-icon:hover {
  opacity: 1;
}

.g-icon-site-logo {
  background-size: 660px 508px;
  background-position: -306px -65px;
  height: 30px;
  width: 92px;
  left: 20px;
  top: 4px;
}

.g-icon-url-code {
  background-size: 572px 440px;
  background-position: -305px 0px;
  width: 40px;
  height: 40px;
  opacity: 1;
  right: -1px;
}

.g-icon-rewards {
  background-position: 0 0;
  height: 68px;
  width: 452px;
  right: 0;
}

.g-icon-google-play, .g-icon-apple-store,
.g-icon-facebook, .g-icon-twitter, .g-icon-weixin, .g-icon-video-play,
.g-icon-title-time, .g-icon-title-home, .g-icon-title-mobile,
.g-icon-title-function, .g-icon-title-changeyou, .g-icon-title-more-about-apps,
.g-icon-weixin-2d, .g-icon-weibo {
  display: inline-block;
  position: static;
}

.g-icon-google-play {
  background-position: -127px -94px;
  width: 72px;
  height: 28px;
}

.g-icon-apple-store {
  background-position: -39px -94px;
  width: 81px;
  height: 28px;
}

/* social icons */
.g-icon-facebook, .g-icon-twitter, .g-icon-weixin, .g-icon-weibo {
  height: 26px;
  margin: 0 10px;
}

.g-icon-facebook {
  background-position: -272px -94px;
  width: 15px;
}

.g-icon-twitter {
  background-position: -310px -94px;
  width: 30px;
}

.g-icon-weixin {
  background-position: -356px -94px;
  width: 30px;
}

.g-icon-weixin-2d {
  background-position: -460px -567px;
  width: 100px;
  height: 100px;
}

.g-icon-weibo {
  background-position: -835px -110px;
  height: 24px;
  width: 40px;
}
/* end of social icons */

.g-icon-video-play {
  background-position: -190px -508px;
  width: 50px;
  height: 50px;
}

.g-icon-home, .g-icon-cart {
  border: none;
  left: -3px;
  height: 15px;
  width: 15px;
}

.g-icon-cart {
  background-position: -740px -115px;
}
.g-icon-home {
  background-position: -718px -115px;
}

/* title icons */
.g-icon-title-time:hover, .g-icon-title-home:hover, .g-icon-title-mobile:hover,
.g-icon-title-function:hover, .g-icon-title-changeyou:hover, .g-icon-rewards:hover,
.g-icon-title-more-about-apps:hover {
  opacity: 0.8;
}
.g-icon-title-home {
  background-position: 0px -140px;
  width: 875px;
  height: 158px;
}
.g-icon-title-time {
  background-position: -540px 0;
  width: 280px;
  height: 100px;
}
.g-icon-title-mobile {
  background-position: 0px -302px;
  width: 572px;
  height: 102px;
}
.g-icon-title-function {
  background-position: -476px -409px;
  width: 405px;
  height: 100px;
}
.g-icon-title-changeyou {
  background-position: 0px -409px;
  width: 472px;
  height: 102px;
}
.g-icon-title-more-about-apps {
  background-position: 0px -578px;
  width: 430px;
  height: 100px;
}

/* ChangYou products */
.g-changyou-product-group {
  padding: 0 40px;
  text-align: justify;
}

.g-changyou-product-group:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.g-changyou-product {
  background: url("../images/changyou-products.png") no-repeat;
  background-size: 970px 255px;
  display: inline-block;
  height: 255px;
  list-style-type: none;
  opacity: 0.5;
}

.g-changyou-product:hover {
  -o-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.g-changyou-product:last-child {
  margin-right: 0;
}

.g-changyou-product-1 {
  background-position: -3px 0;
  width: 100px;
}

.g-changyou-product-2 {
  background-position: -163px 0;
  width: 150px;
}

.g-changyou-product-3 {
  background-position: -385px 0;
  width: 182px;
}

.g-changyou-product-4 {
  background-position: -652px 0;
  width: 108px;
}

.g-changyou-product-5 {
  background-position: -842px 0;
  width: 103px;
}

/* triangle */
.g-triangle {
  width: 0;
  height: 0;
  position: absolute;
}

/* popover */
.g-popover {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  display: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 18px;
  position: absolute;
  z-index: 900;
}

.g-popover a,
.g-popover a:hover {
  color: #000000;
}

.g-popover-inner {
  overflow: auto;
}

.g-popover .g-triangle {
  border: 10px solid transparent;
  left: 50%;
  margin-left: -10px;
}

.g-popover .g-triangle-bottom {
  border-top-color: #FFFFFF;
  bottom: -20px;
}

.g-popover .g-triangle-top {
  border-bottom-color: #FFFFFF;
  top: -20px;
}

.g-popover-close {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.g-popover-info {
  top: 60px;
  width: 980px;
}

.g-popover-info h2 {
  text-align: center;
}

.g-popover-info p {
  line-height: 1.7;
  margin: 0;
  text-align: justify;
}

.g-popover-url-code {
  height: 94px;
  width: 94px;
  padding-top: 28px;
  right: 0;
}
.g-header .g-popover-url-code, .g-header .g-popover-download {
  top: 50px;
}
.g-popover-url-code .g-icon-url-code {
  top: 28px;
  left: 24px;
  -webkit-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  -moz-transform: scale(2.5, 2.5);
  -o-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}

.g-popover-url-code .g-triangle-top {
  left: auto;
  right: 10px;
}

.g-popover-weixin {
  bottom: 40px;
  padding: 5px;
  right: 70px;
}

.g-popover-download {
  padding: 14px 10px;
  right: 20px;
}

/* carousel */
.g-carousel,
.g-carousel-items,
.g-carousel-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.g-carousel {
  z-index: 20;
}

.g-carousel-items, .g-time-carousel-item {
  -webkit-transition: -webkit-transform 0.8s ease;
  -moz-transition: -moz-transform 0.8s ease;
  -ms-transition: -ms-transform 0.8s ease;
  -o-transition: -o-transform 0.8s ease;
  transition: transform 0.8s ease;
}

.g-carousel-items-terminate {
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  -ms-transition: -ms-transform 0s;
  -o-transition: -o-transform 0s;
  transition: transform 0s;
}

.g-carousel-item {
  background: top center no-repeat;
  background-size: cover;
  float: left;
}

.g-carousel-item .g-background-secondary {
  z-index: 25;
}

.g-carousel-control {
  bottom: 0;
  color: #FFFFFF;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
}

.g-carousel-control-inner {
  margin: 0 auto;
  padding: 0 10px 20px;
  text-align: center;
}

.g-carousel-control-item, .g-section-menu-item-icon {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  opacity: 0.5;
}

.g-carousel-control-active, .g-carousel-control-item:hover,
.g-section-menu-item-active .g-section-menu-item-icon,
.g-section-menu-item:hover .g-section-menu-item-icon {
  opacity: 1;
}

.g-carousel-control-active, .g-carousel-control-item:hover {
  background-color: #21FF01;
  cursor: pointer;
}

.g-carousel-control-active {
  cursor: auto;
}

.g-carousel-control-item {
  display: inline-block;
  margin: 0 5px;
}

.g-carousel-home .g-product-image {
  width: 1024px;
  height: 740px;
  z-index: 30;
}

.g-carousel-activity .g-product-image {
  position: absolute;
  width: 1024px;
  z-index: 30;
}

.g-carousel-mobile .g-product-image {
  left: 3px;
  height: 387px;
}

.g-time-carousel-item-right, .g-time-carousel-item-left {
  overflow: hidden;
  right: auto;
  width: 50%;
  z-index: 26;
}

.g-time-carousel-item-right .g-background {
  left: auto;
}
.g-time-carousel-item-active {
  z-index: 25;
}
/* menu */
.g-section-menu {
  position: fixed;
  top: 50%;
  right: 20px;
  padding: 10px;
  margin-top: -80px;
  z-index: 1000;
}

.g-section-menu-item {
  display: block;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
  height: 15px;
}

.g-menu-item-popover {
  border: 1px solid #FFFFFF;
  display: none;
  margin-top: -8px;
  right: 22px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 100;
}

.g-menu-item-popover .g-triangle {
  border: 7px solid transparent;
}

.g-menu-item-popover .g-triangle-right {
  border-left-color: #FFFFFF;
  right: -14px;
  top: 50%;
  margin-top: -7px;
}

.g-section-menu-item:hover > .g-menu-item-popover {
  display: block;
}

/* content */
.g-section .g-section-subject {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.g-section .g-section-content {
  margin: 20px auto 0 auto;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  top: 40px;
  width: 980px;
  z-index: 30;
}

.g-section .g-subject-text-cn {
  font-size: 26px;
  margin: 0;
}

.g-section .g-subject-text-en {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

.g-section .g-section-subject .g-buy {
  background-color: #000000;
  padding: 5px 10px;
  display: inline-block;
  height: 15px;
}

.g-section .g-section-subject .g-buy-cart {
  vertical-align: top;
  padding-right: 15px;
  position: relative;
}

.g-section .g-section-subject .g-buy-cart .g-icon-cart {
  left: 5px;
  top: 5px;
}

/* expander */
.g-expander {
  border-bottom: 1px solid #C7BEB1;
  margin-bottom: 5px;
  position: relative;
}
.g-expander:last-child {
  margin-bottom: 0;
}
.g-expander .g-expander-header {
  background-color: #BEBEBE;
  cursor: pointer;
  padding: 5px 15px;
}
.g-expander .g-expander-title {
  font-size: 1.2em;
}
.g-expander .g-expander-content {
  padding: 10px;
}
.g-expander .g-expander-btn {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
}
.g-expander-collapsed .g-expander-btn {
   padding: 2px 10px;
 }
.g-expander-collapsed .g-expander-content {
  display: none;
}
.g-expander-expanded .g-expander-btn {
  padding: 0px 10px;
}
.g-expander-expanded .g-expander-content {
  display: block;
}

/* footer */
.g-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 60;
}

.g-footer-inner {
  margin: 0 auto;
  position: relative;
  width: 980px;
}

.g-footer .g-subscribe {
  padding: 10px;
}

.g-footer .g-subscribe .g-field-email {
  background-color: #1A212B;
  width: 250px;
}

.g-footer .g-footer-menu li {
  display: inline;
  padding: 0 10px;
}

.g-footer .g-download-icon-group {
  position: absolute;
  right: 0;
  top: -10px;
}

/* time clock */
.g-clock {
  background: url("../images/time-clock.png") no-repeat;
  background-size: 620px 325px;
  position: absolute;
}
.g-clock-shell {
  background-position: 0px 0px;
  width: 325px;
  height: 325px;
  margin-top: -60px;
}
.g-clock-tick {
  background-position: -422px -78px;
  width: 22px;
  height: 22px;
  right: 152px;
  bottom: -5px;
}
.g-clock-content {
  position: absolute;
  white-space: nowrap;
}
.g-clock-time-desc h2 {
  font-size: 32px;
}
.g-clock-time-desc p {
  font-size: 20px;
}
.g-clock-time-desc p:last-child {
  font-size: 16px;
  font-style: italic;
}
.g-clock-content-1, .g-clock-content-4 {
  right: 229px;
  top: 290px;
}
.g-clock-content-1 .g-clock-time,
.g-clock-content-4 .g-clock-time{
  background-position: -340px -77px;
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
}
.g-clock-content-1 .g-clock-time-desc,
.g-clock-content-4 .g-clock-time-desc{
  margin-right: 25px;
  margin-top: 30px;
}
.g-clock-content-2 {
  top: 130px;
  right: 310px;
}
.g-clock-content-2 .g-clock-time,
.g-clock-content-5 .g-clock-time {
  background-position: -410px -77px;
  width: 32px;
  height: 22px;
  right: 0;
  top: 20px;
}
.g-clock-content-2 .g-clock-time-desc,
.g-clock-content-5 .g-clock-time-desc {
  margin-right: 35px;
}
.g-clock-content-3 {
  top: 142px;
  left: 310px;
}
.g-clock-content-3 .g-clock-time {
  background-position: -480px -77px;
  width: 40px;
  height: 20px;
  top: 10px;
}
.g-clock-content-3 .g-clock-time-desc {
  margin-left: 45px;
}
.g-clock-content-5 {
  top: 55px;
  right: 290px;
}

/* mobile phone */
.g-mobile-phone {
  background-image: url('../images/mobile-iphone.png');
  float: left;
  height: 432px;
  width: 207px;
  margin-left: 80px;
}
.g-mobile-phone-inner {
  height: 312px;
  width: 177px;
  left: 16px;
  top: 61px;
  position: relative;
}

.g-job {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 18px;
}

.g-job:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#home.g-section .g-section-subject {
  top: 38%;
}

#home.g-section .g-section-subject .g-section-desc {
  margin-top: 90px;
}

#home.g-section .g-subject-text-en {
  font-size: 80px;
}

#activityCompanion.g-section .g-section-subject {
  bottom: 120px;
}

#gocciaTime.g-section .g-section-subject {
  bottom: 0;
}

#changeWithYou.g-section .g-section-content {
  margin-top: -40px;
}

#changeWithYou .g-social-icon-group {
  position: relative;
  width: 320px;
}

#changeWithYou .g-social-icon-group .g-social-share-text {
  font-style: italic;
}

#changeWithYou .g-social-icon-group a {
  display: inline-block;
  vertical-align: middle;
}

#mobileApps.g-section .g-section-content {
  height: 432px;
  margin: 0;
}

#mobileApps.g-section .g-section-subject {
  float: left;
  margin-left: 50px;
  margin-top: 120px;
  width: auto;
}

#mobileApps.g-section .g-section-subject,
#functionFeatures.g-section .g-section-subject,
#changeWithYou.g-section .g-section-subject {
  position: static;
}

@media screen and (min-height: 1200px) {
  .g-carousel-activity img.g-product-image {
    width: 1024px;
  }
}