html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "DIN Next Ultra Light","Helvetica Neue",Helvetica,Arial,"Lantinghei SC","Hiragino Sans GB",STHeiti,"Noto Sans S Chinese","Microsoft Yahei","Microsoft Sans Serif","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    height: 100%;
}

.a-container {
    height: auto;
    min-height: 100%;
}

.a-header {
    background-color: #38afe5;
    width: 100%;
    padding: 15px 0;
}

.a-header .a-header-content {
    width: 1000px;
    margin: auto;
}

.a-header .a-header-image {
    height: 32px;
}

.a-header .a-nav {
    list-style: none;
    margin: 0;
    margin-top: 10px;
}

.a-header .a-nav li {
    display: inline;
}

.a-header .a-nav a {
    color: white;
    text-decoration: none;
    padding: 28px 20px 20px;
    font-size: 14px;
}

.a-header .a-nav a:hover {
    background-color: white;
    color: #38afe5;
}

.a-header .a-header-content div {
    padding: 0;
}

.a-content {
    margin: 70px auto 0;
    width: 1000px;
    padding-bottom: 200px
}

.a-products td, .a-products tr {
    border: 1px solid #DDD;
}

.a-products td {
    padding: 10px;
    vertical-align: top;
}

.a-products p {
    text-align: right;
}

.a-products .a-product-image {
    text-align: center;
}

.a-products .a-product-desc {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.a-products .a-product-price {
    color: red;
    font-size: 18px;
}

.a-products .a-product-buy {
    border-color: #ff4200;
    background-color: #ffeded;
    width: 100px;
    color: #ff4200;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
}

.a-footer {
    background-color: #38afe5;
    width: 100%;
    color: white;
    padding-top: 10px;
    position: relative;
    margin-top: -140px;
    height: 140px;
}

.a-footer a {
    color: white;
}

.a-footer p {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
}

.a-info h2 {
    letter-spacing: -1px;
    font-size: 22px;
    margin: 20px 0;
    line-height: normal;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-weight: 300;
}

.a-info .a-info-date {
    margin-bottom: 20px;
}

.a-box {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
}

.a-box.a-signin-form {
    width: 460px;
    margin: auto;
}

.a-signin-form table {
    width: 100%;
}

.a-signin-form td {
    text-align: left;
    vertical-align: middle;
    padding: 5px 10px;
    font-size: 14px;
}

.a-signin-form input {
    width: 100%;
    padding: 5px;
}

.a-signin-form .a-form-buttons {
    padding-top: 10px;
    text-align: right;
}

.a-signin-form .a-button {
    background-color: #38afe5;
    border: none;
    padding: 8px 16px;
    color: #FFF;
    text-decoration: none;
}
